@import "./base.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#app {
  /* max-width: 1280px; */
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Emotional Rescue Personal Use Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Emotional Rescue Personal Use Regular"),
    url("../assets/fonts/EmotionalRescuePersonalUseRegular-PKY87.woff")
      format("woff");
}

@font-face {
  font-family: "Cabinet Grotesk Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Cabinet Grotesk Regular"),
    url("CabinetGrotesk-Regular.woff") format("woff");
}
